<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFileControl" maxReceivedMessageSize="10067108864"
                    messageEncoding="Mtom" />
                <binding name="BasicHttpBinding_ITransactions" />
                <binding name="BasicHttpBinding_IDatabaseServer" />
                <binding name="BasicHttpBinding_ITransactions1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.12:8733/TransactionServer/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransactions1"
                contract="TransactionServer.ITransactions" name="BasicHttpBinding_ITransactions" />
            <endpoint address="http://192.168.0.10:8080/FileServerLibrary/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileControl"
                contract="FileServer.IFileControl" name="BasicHttpBinding_IFileControl" />
            <endpoint address="http://192.168.0.13:8565/DatabaseServer" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDatabaseServer" contract="DatabaseServer.IDatabaseServer"
                name="BasicHttpBinding_IDatabaseServer" />
        </client>
    </system.serviceModel>
</configuration>